.footer {
	padding: 80px 60px;
}

.logoContainer {
	width: 160px;
}

.logo {
	width: 100%;
	height: 100%;
}

.email {
	color: var(--rtm-orange);
}

.footerLinks {
	display: flex;
	flex-direction: column;
}

.link {
	font-size: 1.2rem;
}

.link:hover {
	text-decoration: underline;
}

.underline {
	text-decoration: underline;
}

.divider {
	width: 100%;
	height: 2px;
	background-color: var(--dark-background);
	margin: 20px 0;
}
