.card {
	height: 450px;
	width: 100%;
	max-width: 400px;
	min-width: 330px;
	background-color: #292929;
	color: #ffffff;
	text-align: left;
	border: none;
	box-shadow: none;
	padding: 10px 0;
}

.content {
	padding: 10px 0;
}

.imageContainer {
	height: 200px;

	background-color: #ffffff;
}

.chip {
	background-color: var(--rtm-orange-opaque);
	color: var(--rtm-orange);
	font-weight: 500;
	border-radius: 4px;
	margin: 8px 0;
}

.title {
	font-weight: 700;
	font-size: 1.2rem;
}
