.main {
	padding: 6rem 0;
}

.container {
	padding: 0 12rem;
}

.content {
	padding: var(--section-padding);
}

.content p {
	width: 100%;
	margin-top: 15px;
}

.content h2 {
	width: 100%;
	margin-bottom: 15px;
	margin-top: 30px;
}

.content p img {
	display: flex;
	justify-content: center;
}

.content p img {
	width: inherit;
	max-width: 100%;
	margin: 30px auto;
}

.content p img[src*='#width-50'] {
	width: 50%;
}

.content p img[src*='#max-width-fit'] {
	max-width: fit-content;
}

@media only screen and (max-width: 1100px) {
	.main {
		padding: 2rem 0;
	}

	.container {
		padding: var(--mobile-section-padding);
	}
	.content {
		padding: var(--mobile-section-padding);
	}

	.content p img[src*='#width-50'] {
		width: inherit;
	}
}
