.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	/* padding: 6rem; */
	min-height: 100vh;
	text-align: center;
}

.heroSection {
	padding: 4rem 0;
	max-width: 800px;
	min-height: 826px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.heroTitle {
	font-size: 6rem;
	font-weight: 900;
	line-height: 115px;
}

.heroSubtitle {
	padding: 10px 0;
	font-size: 1.5rem;
	font-weight: 400;
}

.partners {
	padding: 6rem 0;
}

.partnerSubtitle {
	font-weight: 600;
	margin-bottom: 2rem;
}

.weThinkWeBuild {
	padding: 4rem 0;
	/* border: 2px solid red; */
	position: relative;
	width: 100%;

	/* background-color: #292929; */
}

.card {
	padding: 30px 60px;
}

.cardImg {
	position: relative;
}

.img {
	width: 100%;
	height: auto;
	min-width: 310px;
	max-width: 463px;
}

.cardText {
	text-align: left;
}

.cardTitle {
	font-weight: 900;
	font-size: 4rem;
	line-height: 77px;
}

.cardSubtitle {
	font-size: 1.4rem;
	padding: 10px 0;
}

.vectorBGtop {
	position: absolute;
	width: 100%;
	height: 50px;
	top: -50px;
	left: 0;
	object-fit: cover;
	overflow: visible;
	z-index: -1;
}

.vectorBGbottom {
	position: absolute;
	width: 100%;
	height: 50px;
	bottom: 50px;
	left: 0;
	object-fit: cover;
	overflow: visible;
	z-index: -1;
}

.rectangleBG {
	z-index: 9;
	border: 2px solid greenyellow;
}

.us {
	position: relative;
	padding-top: 10rem;
	margin: 6rem;
	width: 100%;
	display: flex;
	justify-content: center;
}

.avatarContainer {
	position: absolute;
	width: 300px;
	height: 300px;
	border: 2px solid red;
	border-radius: 50%;
}

.avatarLeft {
	left: -30px;
	top: 35%;
}

.avatarRight {
	right: -30px;
	top: 35%;
}

.testimonials {
	padding: 10rem 0;
	width: 100%;
}

.blog {
	padding: 6rem 0;
	width: 100%;
	background-color: #292929;
}
