.card {
	flex-basis: calc(100% / 2) -10px;
	width: 280px;
	background-color: var(--dark-background);
	color: #ffffff;
	text-align: left;
	border: 2px solid #000000;
	box-shadow: none;
	padding: 30px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	cursor: pointer;
	height: 320px;
}

.card:hover {
	box-shadow: 0px 4px 64px 0px #000000e5;
}

.avatar {
	position: relative;
	border-radius: 50%;
	overflow: hidden;
	/* margin: 20px; */
	width: 140px;
	height: 140px;
}

.content {
	padding: 0 4px;
	margin-top: 10px;
}

.name {
	font-size: 1.5rem;
	font-weight: 600;
}

.role {
	font-size: 1rem;
	font-weight: 400;
}

@media only screen and (max-width: 1100px) {
	.card {
		width: 170px;
		padding: 25px 0;
	}

	.avatar {
		width: 120px;
		height: 120px;
	}
}
