---
export interface Props {
	text: string;
}
const { text } = Astro.props;
---

<div class="sm:w-sm w-xs w-sm rounded bg-[#4A4A4A] dark:bg-[#4A4A4A] h-15 flex shadow-xl">
	<div class="m-auto text-xl text-white font-bold">
		{text}
		<slot />
	</div>
</div>
