---
export interface Props {
	text: string;
}
const { text } = Astro.props;
---

<div
	class="dark:bg-[#F7E7D4] bg-[#F9F8F6] dark:text-[#111827] w-90 h-20 flex shadow-xl rounded dark:shadow-black shadow-indigo-500/50"
>
	<div class="m-auto text-xl">{text}</div>
</div>
