---
export interface Props {
	text: string;
	idButton: string;
}
const { text, idButton } = Astro.props;
---

<div
	class="sm:w-sm rounded md:mt-10 bg-[#343434] dark:bg-[#444444] h-15 flex shadow-xl"
	id={idButton}
	onclick="window.dispatchEvent(new Event(this.id));">
	<div class="m-auto text-xl text-white font-bold">
		{text}
		<slot />
	</div>
</div>
