---
import { ImageMetadata } from '@astrojs/image/dist/vite-plugin-astro-image';
import MainSite from './MainSite.astro';

export interface WebsiteAssets {
	homepage: {
		main_logo: string | null | undefined;
		main_desc: string;
		left_section: ImageMetadata;
		left_desc: string;
		right_section: ImageMetadata;
		right_desc: string;
		linkedin_image: string | null | undefined;
		linkedin_desc: string;
		gh_image: string | null | undefined;
		gh_desc: string;
	};
}

export interface Props {
	css_attributes_parent: string[] | undefined;
	css_attributes_child: string[] | undefined;
	id: string;
	websiteAssets: WebsiteAssets;
}
const { css_attributes_parent = [], css_attributes_child = [], id, websiteAssets } = Astro.props;
---

<div
	class={'absolute bg-gray-light w-full overflow-hidden ' +
		css_attributes_parent.map((attribute: string) => {
			return attribute + ' ';
		})}
	id={id}>
	<div
		class={'relative dark:bg-gray-dark overflow-hidden ' +
			css_attributes_child.map((attribute: string) => {
				return attribute + ' ';
			})}
		id={id + '-child'}>
		<MainSite websiteAssets={websiteAssets} id={id} />
	</div>

	<style></style>
</div>
