---
export interface Props {
	image: string | null | undefined;
	desc: string;
	text: string;
	css_classes: string[];
}

const { image, text, css_classes, desc } = Astro.props;
---

<div
	class={'m-auto sm:h-xl h-lg sm:w-sm w-xs rounded shadow-xl shadow-dark-500 grid auto-rows-auto bg-gray-dark dark:bg-gray-light md:mb-0 mb-10 ' +
		css_classes.map((el) => {
			return el;
		})}>
	<!-- dark:shadow-glow shadow-white-glow -->
	<div class="m-auto sm:h-15 h-20 flex">
		<h1 class="text-white m-auto text-3xl">{text}</h1>
	</div>
	<div class="rounded w-full mb-0 self-end">
		<img src={image} alt={desc} />
	</div>
</div>
