---
const id = Astro.props;
---

<div
	class="relative w-full h-full overflow-hidden overflow-y-auto text-white z-25 bg-black font-mono text-2xl <md:text-xl p-4 <lg:text-xl text-center scrollbar-thin scrollbar-thumb-gray-900 scrollbar-track-gray-300 rounded-2xl">
	<section class="bg-gray-dark w-xs sm:w-sm md:w-full h-full dark:bg-gray-light rounded-2xl">
		<div class="py-8 px-4 mx-auto max-w-screen-xl md:py-16 md:px-6">
			<div class="mx-auto max-w-screen-md">
				<h2
					class="mb-4 text-3xl tracking-tight font-badaboom sm:text-4xl text-white <md:dark:text-white sm:text-center">
					Congratulations
				</h2>
				<p
					class="mx-auto mb-8 max-w-2xl font-light text-gray-400 md:mb-12 sm:text-xl dark:text-gray-400 text-justify sm:text-center">
					Cause you did a great job, you deserve a reward, sign up or you will lose it!
				</p>
				<form id={'email_form-' + id}>
					<div
						class="items-center mx-auto mb-3 space-y-4 max-w-screen-sm sm:grid sm:space-y-0 sm:w-2/3 sm:grid-cols-[3fr_1fr]">
						<div class="relative w-full">
							<label for="email" class="hidden mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
								>Email address</label
							>
							<div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
								<svg
									class="w-5 h-5 text-gray-500 dark:text-gray-400"
									fill="currentColor"
									viewBox="0 0 20 20"
									xmlns="http://www.w3.org/2000/svg"
									><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path
										d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
								</svg>
							</div>
							<input
								class="block p-3 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:rounded-none sm:rounded-l-lg dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
								placeholder="Enter your email"
								type="email"
								id={'email_form_text-' + id}
								required=""
							/>
						</div>
						<div>
							<button
								type="submit"
								id={'email_form_submit-' + id}
								class="bg-gray-light hover:bg-gray-dark dark:hover:bg-gray-light dark:bg-gray-dark <md:dark:text-white py-3 px-5 w-full text-sm text-center text-white rounded-lg border cursor-pointer dark:border-primary-600 sm:rounded-none sm:rounded-r-lg dark:focus:ring-4 font-badaboom"
								>Subscribe</button
							>
						</div>
					</div>
					<div
						class="mx-auto w-fit max-w-screen-sm text-sm text-left text-gray-400 newsletter-form-footer dark:text-gray-300">
						We care about the protection of your data. <a
							href="/privacyCookiePolicy.pdf"
							target="_blank"
							class="font-medium text-white dark:text-orange hover:underline"
							rel="noreferrer">Read our Privacy and Cookie Policy</a
						>.
					</div>
				</form>
			</div>
		</div>
	</section>
</div>
