---
---

<div
	class="relative w-full h-full overflow-hidden overflow-y-auto text-white z-25 bg-black font-mono text-2xl <md:text-xl p-4 <lg:text-xl text-center scrollbar-thin scrollbar-thumb-gray-900 scrollbar-track-gray-100"
	id="serious-riddle">
	<div id="title-screen" class="w-full mt-8 z-51 h-11/12">
		<div id="complete" class="text-3xl <md:text-2xl"></div>
		<div id="continue-click" class="vanishing mt-1/4 <md:text-xl"></div>
	</div>
	<div class="lg:pl-1/5 lg:pr-1/5">
		<div id="quizContainer" class="mx-auto mt-8 w-fit">
			<div id="title"></div>
			<ul id="alternatives" class="mt-4 <lg:mt-8 w-fit mx-auto">
				<li class="alternative glow cursor-pointer w-fit text-left <lg:mt-1 <lg:p-1"></li>
				<li class="alternative glow cursor-pointer w-fit text-left <lg:mt-1 <lg:p-1"></li>
				<li class="alternative glow cursor-pointer w-fit text-left <lg:mt-1 <lg:p-1"></li>
				<li class="alternative glow cursor-pointer w-fit text-left <lg:mt-1 <lg:p-1"></li>
			</ul>
			<div id="result" class="hidden mt-4 ml-auto mr-auto <lg:mt-8"></div>
			<a id="continue" class="glow hidden mt-4 cursor-pointer ml-auto mr-auto w-fit <lg:p-1">Next &raquo;</a>
		</div>
	</div>
</div>

<style>
	.glow {
		color: #fff;
		-moz-transition: all 0.2s ease-in;
		-o-transition: all 0.2s ease-in;
		-webkit-transition: all 0.2s ease-in;
		transition: all 0.2s ease-in;
	}

	@media screen and (min-width: 992px) {
		.glow:hover {
			color: #fff;
			-moz-transition: all 0.2s ease-in;
			-o-transition: all 0.2s ease-in;
			-webkit-transition: all 0.2s ease-in;
			transition: all 0.2s ease-in;
			text-shadow: 0 0 7px #fff, 0 0 10px #73fdcf, 0 0 21px #73fdcf, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa,
				0 0 102px #0fa, 0 0 151px #0fa;
		}
	}

	.glow-correct {
		color: #fff;
		-moz-transition: all 0.2s ease-in;
		-o-transition: all 0.2s ease-in;
		-webkit-transition: all 0.2s ease-in;
		transition: all 0.2s ease-in;
		text-shadow: 0 0 7px #fff, 0 0 10px #73fdcf, 0 0 21px #73fdcf, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa,
			0 0 102px #0fa, 0 0 151px #0fa;
	}
	.glow-wrong {
		color: #fff;
		-moz-transition: all 0.2s ease-in;
		-o-transition: all 0.2s ease-in;
		-webkit-transition: all 0.2s ease-in;
		transition: all 0.2s ease-in;
		text-shadow: 0 0 7px #fff, 0 0 10px #fd7373, 0 0 21px #fd7373, 0 0 42px #ff0000, 0 0 82px #ff0000, 0 0 92px #ff0000,
			0 0 102px #ff0000, 0 0 151px #ff0000;
	}

	.vanishing {
		animation-name: continue;
		animation-duration: 3s;
		animation-delay: 2s;
		animation-iteration-count: infinite;
	}

	@keyframes continue {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
</style>

<script>
	import { getRandomTenQuiz } from './SeriousRiddleQuiz/SeriousRiddleQuiz';
	import SeriousRiddle from './SeriousRiddleQuiz/SeriousRiddle';
	import { Quiz } from './SeriousRiddleQuiz/SeriousRiddleQuiz';

	const riddleQuiz: Quiz[] = [
		{
			question: 'How is the first block called in a chain?',
			answers: ['Root', 'Genesis', 'Origin', 'Source'],
			correctAnswer: 1,
		},
		{
			question: 'Guess the result of encrypting "RTM" using Caeser cipher',
			answers: ['uwp', 'uds', 'fdw', 'grj'],
			correctAnswer: 0,
		},
		{
			question: 'What does SQL stands for?',
			answers: [
				'Simple Query Language',
				'Structured Query Language',
				'Scripting Query Language',
				'Strange Query Language',
			],
			correctAnswer: 1,
		},
	];
	// Code to display a question
	const titleScreen = document.getElementById('title-screen');
	const seriousRiddle = document.getElementById('serious-riddle');
	const SRobject = new SeriousRiddle();
	function startModalRiddle() {
		if (titleScreen == null || seriousRiddle == null) return;
		seriousRiddle.classList.add('rounded-2xl');
		titleScreen.style.display = 'block';
		let quiz: Quiz[] = getRandomTenQuiz();
		SRobject.startRiddle(quiz, true);
	}

	function startNormalRidddle() {
		if (titleScreen == null) return;
		titleScreen.style.display = 'block';
		SRobject.startRiddle(riddleQuiz, false);
	}
	// Now, test your knowledge with the RTM Quizz!
	window.addEventListener('think', startModalRiddle);
	window.addEventListener('riddleThink', startNormalRidddle);
</script>
