---
---

<div class="relative w-full h-full overflow-hidden text-white z-25 bg-black font-mono <lg:text-3xl" id="serious-riddle">
	<div class="ml-8 mt-8">
		<div id="title"></div>
		<ul id="alternatives" class="mt-2 <lg:mt-8">
			<li class="alternative cursor-pointer w-fit <lg:border-white <lg:border-2 <lg:mt-2 <lg:p-1"></li>
			<li class="alternative cursor-pointer w-fit <lg:border-white <lg:border-2 <lg:mt-2 <lg:p-1"></li>
			<li class="alternative cursor-pointer w-fit <lg:border-white <lg:border-2 <lg:mt-2 <lg:p-1"></li>
			<li class="alternative cursor-pointer w-fit <lg:border-white <lg:border-2 <lg:mt-2 <lg:p-1"></li>
		</ul>
		<div id="result" class="hidden float-left mt-4 mr-3 <lg:mt-8"></div>
		<button
			id="continue"
			class="hidden cursor-pointer rounded-lg mt-2 <lg:mt-6 p-2 pb-3 border-white border-2 border-dashed hover:bg-white <lg:bg-white hover:text-black <lg:text-black"
			>Continue</button
		>
	</div>
</div>

<style>
	.alternative:link {
		text-decoration: none;
	}

	.alternative:visited {
		text-decoration: none;
		color: #fff;
	}

	.alternative {
		color: #fff;
		-moz-transition: all 0.2s ease-in;
		-o-transition: all 0.2s ease-in;
		-webkit-transition: all 0.2s ease-in;
		transition: all 0.2s ease-in;
	}

	.alternative:hover {
		color: #a3f705;
		text-shadow: 0px 0px 30px #a3f705;
		-moz-transition: all 0.2s ease-in;
		-o-transition: all 0.2s ease-in;
		-webkit-transition: all 0.2s ease-in;
		transition: all 0.2s ease-in;
	}
</style>

<script>
	enum WebsiteState {
		Selection = 'selection',
		Playful = 'playful',
		Serious = 'serious',
		Website = 'website',
	}
	interface Quiz {
		question: string;
		answers: string[];
		correctAnswer: number;
	}
	const quiz: Quiz[] = [
		{
			question: 'The five elements of blockchain are distribution, encryption, immutability, tokenization and:',
			answers: ['Transparency', 'Authorization', 'Efficiency', 'Decentralization'],
			correctAnswer: 3,
		},
		{
			question: 'True or false: Smart contracts are legally binding contracts.',
			answers: ['True', 'False', "I don't know"],
			correctAnswer: 1,
		},
	];
	// Code to display a question
	function showQuestion(q: Quiz, i: number) {
		let titleDiv = document.getElementById('title');
		let alternatives = document.getElementById('alternatives');
		let resultDiv = document.getElementById('result');
		let continueButton = document.getElementById('continue');

		if (titleDiv == null) return;
		// Fill the question
		let arrayHTML = [titleDiv];
		let arrayStr = [i + 1 + '/3 ' + q.question];
		let alts = document.querySelectorAll('.alternative');
		q.answers.forEach(function (element) {
			arrayStr.push(element);
		});

		// Fill the alternatives
		alts.forEach(function (element, index) {
			arrayHTML.push(element as HTMLElement);
			element.addEventListener('click', function () {
				if (resultDiv == null || continueButton == null || alternatives == null) return;

				if (q.correctAnswer == index) {
					resultDiv.textContent = 'Correct Answer! ';
				} else {
					resultDiv.textContent = 'Wrong Answer! ';
				}
				alternatives.style.display = 'none';
				resultDiv.style.display = 'block';
				continueButton.style.display = 'block';
			});
		});

		typeWriter(arrayHTML, arrayStr);

		if (continueButton == null) return;
		continueButton.addEventListener('click', function () {
			if (resultDiv == null || continueButton == null || alternatives == null) return;
			alternatives.style.display = 'block';
			resultDiv.style.display = 'none';
			continueButton.style.display = 'none';

			if (i + 2 > quiz.length) endRiddle();
			else showQuestion(quiz[i + 1], i + 1);
		});
	}

	function typeWriter(elements: HTMLElement[], texts: string[]) {
		let f = 0;
		let j = 0;
		elements.forEach(function (element: HTMLElement) {
			element.textContent = '';
		});
		function type() {
			if (f < texts.length) {
				const text = texts[f];
				if (j < text.length) {
					elements[f].innerHTML += text.charAt(j);
					j++;
					setTimeout(type, 30);
				} else {
					f++;
					j = 0;
					setTimeout(type, 30);
				}
			}
		}

		type();
	}

	function endRiddle() {
		if (localStorage.getItem('websiteState') != WebsiteState.Website) {
			localStorage.setItem('websiteState', WebsiteState.Website);
		}
		window.dispatchEvent(new Event('stateChange'));
	}
	showQuestion(quiz[0], 0);
</script>
