---
export interface Props {
	link: string | null | undefined;
	image: string | null | undefined;
	desc: string;
}
const { link, image, desc } = Astro.props;
---

<a href={link} target="_blank" class="w-10 m-auto" rel="noreferrer">
	<img src={image} alt={desc} />
</a>
