---
import 'virtual:windi.css';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html class="dark:bg-gray-900 bg-gray-700 w-full h-full overflow-x-hidden max-w-[100%]">
	<head>
		<title>Page - {title}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body class="dark:bg-gray-900 bg-gray-700 h-full">
		<div class="h-full overflow:hidden relative">
			<slot />
		</div>
	</body>
</html>
